/* LoginPage.css */

.loginpage {
display: flex;
flex-direction: row;
height: 100vh;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Left side */
.Login-left {
    width: 50%;
    background-color: #CB202D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

.Login-left h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.Login-left h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

/* Right side */
.login-container {
    width: 50%;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.login-container h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
}

.loginbox {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.loginbox h1{
    text-align: center;
}


.button-wrapper {
    display: flex;
    justify-content: center;
}

.login-form  {
    margin: 20px auto;
    
}

.login-form label {
    margin-top: 1rem;
    font-weight: 600;
    color: #333;
}

.login-form input {
    padding: 10px;
    margin-top: 0.9rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
    width: 100%;
    transition: border 0.2s;
}

.login-form input:focus {
border-color: #CB202D;
}

/* Error message */
.error-msg {
color: red;
font-size: 0.9rem;
margin-top: 0.3rem;
}

/* Login button */
.login-button {
margin-top: 1rem;
padding: 10px;
border: none;
background-color: #CB202D;
color: white;
font-size: 1rem;
border-radius: 6px;
cursor: pointer;
transition: background-color 0.3s ease;
width: 150px;
}

.login-button:hover {
background-color: #a81a23;
}

.login-button:disabled {
background-color: #ddd;
color: #666;
cursor: not-allowed;
}

/* Responsive */
@media (max-width: 768px) {
.loginpage {
    flex-direction: column;
}

.Login-left,
.login-container {
    width: 100%;
    height: auto;
}

.loginbox {
    width: 90%;
}
}

.error-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}


.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    color: #888;
    font-size: 0.9rem;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
    margin: 0 10px;
}

.select-wrapper{
    padding: 10px;
    margin-top: 0.9rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    font-size: 1rem;
    width: 100%;
    transition: border 0.2s;
}

.google-login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.signup-footer{
    margin-top: 15px;
}

#fpassword{
    font-size: 0.8rem;
    opacity: 0.5;
}